<div class="one-main-page">
    <div class="image-wrapper">
        <a href="{{ 'location/p20-locations-list'|page({categorySlug: 'dostava'}) }}">
            <img
                class="img-fluid"
                src="{{ 'images/mainPages/Dostava-img.png'|media|resize(300, 200, {mode: 'crop'}) }}"
                data-src="Dostava-img.png"
                alt="Dostava-img.png"
                width="300" height="200"
            />
        </a>
    </div>
    <div class="title">
        <a href="{{ 'location/p20-locations-list'|page({categorySlug: 'dostava'}) }}">
            {{ 'Dostava'|_ }}
        </a>
    </div>
</div>
<div class="one-main-page">
    <div class="image-wrapper">
        <a href="{{ 'location/p20-locations-list'|page({categorySlug: 'gde-jesti'}) }}">
            <img
                class="img-fluid"
                src="{{ 'images/mainPages/Restorani-img.png'|media|resize(300, 200, {mode: 'crop'}) }}"
                data-src="Restorani-img.png"
                alt="Restorani-img.png"
                width="300" height="200"
            />
        </a>
    </div>
    <div class="title">
        <a href="{{ 'location/p20-locations-list'|page({categorySlug: 'gde-jesti'}) }}">
            {{ 'Restorani'|_ }}
        </a>
    </div>
</div>
<div class="one-main-page">
    <div class="image-wrapper">
        <a href="{{ 'location/p20-locations-list'|page({categorySlug: 'mapa'}) }}">
            <img
                class="img-fluid"
                src="{{ 'images/mainPages/Istrazi-img.png'|media|resize(300, 200, {mode: 'crop'}) }}"
                data-src="Istrazi-img.png"
                alt="Istrazi-img.png"
                width="300" height="200"
            />
        </a>
    </div>
    <div class="title">
        <a href="{{ 'location/p20-locations-list'|page({categorySlug: 'mapa'}) }}">
            {{ 'Istrazi'|_ }}
        </a>
    </div>
</div>
<div class="one-main-page">
    <div class="image-wrapper">
        <a href="#">
            <img
                class="img-fluid"
                src="{{ 'images/mainPages/Za vlasnike restorana-img.png'|media|resize(300, 200, {mode: 'crop'}) }}"
                data-src="Za vlasnike restorana-img.png"
                alt="Za vlasnike restorana-img.png"
                width="300" height="200"
            />
        </a>
    </div>
    <div class="title">
        <a href="#">
            {{ 'Za vlasnike restorana'|_ }}
        </a>
    </div>
</div>
