.rich-editor-wrapper .rdw-editor-main {
  width: 100%;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  min-height: 350px;
}

.rich-editor-wrapper {
  min-height: 350px;
}

.rdw-image-modal, .rdw-emoji-modal, .rdw-embedded-modal, .rdw-link-modal {
  left: -150px !important;
  color: #000;
}.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007aff;
  background: rgba(100, 0, 0, 0.1);
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}
.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon {
  width: 11px;
  height: 20px;
  fill: currentColor;
  display: block;
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 1;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev {
  left: 10px;
  right: auto;
}
.swiper-button-prev::after {
  border-right: 10px solid currentColor;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: -5px;
}

.swiper-button-next {
  right: 10px;
  left: auto;
}
.swiper-button-next::after {
  border-left: 10px solid currentColor;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-right: -5px;
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app {
  height: 100%;
}

.demo-app {
  overflow: auto;
  height: 100%;
}

.demo-title {
  padding: 24px 12px 12px;
}

.demo-stories {
  display: flex;
  align-items: center;
  padding: 12px;
  overflow: auto;
  scrollbar-width: none;
  border-bottom: 1px solid #262626;
}
.demo-stories::-webkit-scrollbar {
  display: none;
  opacity: 0;
}
.demo-stories a + a {
  margin-left: 12px;
}
.demo-stories a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  transition-property: opacity;
}
.demo-stories a:active {
  opacity: 0.55;
  transition-duration: 50ms;
}
.demo-stories-avatar {
  position: relative;
  border-radius: 50%;
  padding: 4px;
  background-image: linear-gradient(to right top, #ffc600 20%, #ff0040, #e600cc 80%);
}
.demo-stories-avatar::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
}
.demo-stories-avatar img {
  position: relative;
  z-index: 2;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.demo-stories-name {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  margin-top: 10px;
}

.demo-post-header {
  display: flex;
  align-items: center;
  padding: 14px;
  border-top: 1px solid #ccc;
}
.demo-post-header-actions {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: opacity;
}
.demo-post-header-actions:active {
  opacity: 0.55;
  transition-duration: 50ms;
}
.demo-post-header-actions span {
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
}
.demo-post-header-actions span + span {
  margin-left: 3px;
}
.demo-post-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(to right top, #ffc600 20%, #ff0040, #e600cc 80%);
  transition-property: opacity;
  transition-duration: 200ms;
}
.demo-post-avatar:active {
  opacity: 0.55;
  transition-duration: 0;
}
.demo-post-avatar::before {
  content: "";
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background: #000;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}
.demo-post-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 1;
}
.demo-post-name {
  font-size: 14px;
  font-weight: 600;
}
.demo-post-image {
  height: 320px;
}
.demo-post-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.demo-post-footer {
  padding: 16px;
}
.demo-post-footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}
.demo-post-footer-actions-left, .demo-post-footer-actions-right {
  display: flex;
  align-items: center;
}
.demo-post-footer-actions button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: opacity;
  padding: 0;
  margin: 0;
}
.demo-post-footer-actions button:active {
  opacity: 0.55;
  transition-duration: 50ms;
}
.demo-post-footer-actions button img {
  width: 22px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.demo-post-footer-actions button + button {
  margin-left: 16px;
}
.demo-post-likes {
  font-size: 14px;
  font-weight: 600;
}
.demo-post-content {
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.25;
}
.demo-post-content-name {
  font-weight: 600;
}
.demo-post-content-text {
  opacity: 0.85;
}
.demo-post-date {
  margin-top: 4px;
  font-size: 12px;
  opacity: 0.5;
  font-weight: 500;
}

.stories-slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: scale(0);
  transform: translate3d(0, 0, 0) scale(0.5);
  opacity: 0;
  background: #000;
}
@media (min-width: 415px), (min-height: 897px) {
  .stories-slider {
    background: rgb(41, 40, 49);
  }
}
.stories-slider > .swiper {
  z-index: 2;
  max-width: 414px;
  max-height: 896px;
}
.stories-slider:not(.stories-slider-in) {
  pointer-events: none;
}
.stories-slider:not(.stories-slider-in) * {
  pointer-events: none !important;
}
.stories-slider-in {
  animation: stories-slider-in 400ms forwards;
  pointer-events: auto;
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}
.stories-slider-out {
  pointer-events: none;
  animation: stories-slider-out 400ms forwards !important;
}

@keyframes stories-slider-in {
  0% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
@keyframes stories-slider-out {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
}.photo-gallery-img::part(image) {
  max-height: 400px;
}

.photo-gallery-swiper {
  min-height: 45px;
}#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
