<tr>
    <td align="center" style="background-color: #ffffff; border-bottom: 2px solid #d97706; padding: 20px 0;">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div style="text-align: center; margin-bottom: 20px;">
                        <img src="https://berbernica-tanja.rzr.rs/public/projects/rzr/images/logo-big.png" alt="RZR Logo" style="height: 40px; margin-right: 10px; vertical-align: middle;">
                        <span style="font-size: 28px; font-weight: bold; color: #d97706; vertical-align: middle;">RZR</span>
                    </div>
                    <h1 style="font-size: 24px; color: #333; margin: 0; text-align: center;">
                        {{ body|raw }}
                    </h1>
                </td>
            </tr>
        </table>
    </td>
</tr>
