description = "FE Head"

[viewBag]
==
{% set locationSlug = locationComponent.locationData.slug ?? locationComponent.slug ?? null %}
{% set locationTitle = locationComponent.locationData.title ?? locationComponent.title ?? null %}
{% set locationSnippet = locationComponent.locationData.snippet ?? locationComponent.locationData.title ?? locationComponent.title ?? null %}
{% set logoPath = locationComponent.locationData.logo.path ?? locationComponent.logo.path ?? null %}
{% set faviconUrl = logoPath ? logoPath|resize(32, 32, {mode: 'exact', extension: 'png'}) : null %}
{% set appleIconUrl = logoPath ? logoPath|resize(180, 180, {mode: 'exact', extension: 'png'}) : null %}
{% set maskIconUrl = logoPath ? logoPath|resize(192, 192, {mode: 'exact', extension: 'png'}) : null %}
{% set appVersion = '2.002' %}

{% if locationSnippet or locationTitle %}
<title>{{ locationSnippet ?? locationTitle }}</title>
{% endif %}

{% set locationDescription = locationComponent.locationData.description ?? locationComponent.locationData.snippet ?? locationComponent.locationData.title ?? null %}
{% if locationDescription %}
<meta name="description" content="{{ locationDescription|striptags|trim }}" />
{% endif %}

{% if faviconUrl %}
<link rel="shortcut icon" type="image/png" href="{{ faviconUrl }}?v=1" />
{% endif %}

<meta name="color-scheme" content="light dark" />
<meta
    name="viewport"
    content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />

<!-- add to homescreen for ios -->
<meta name="apple-mobile-web-app-capable" content="yes" />
{% if locationTitle %}
<meta name="apple-mobile-web-app-title" content="{{ locationTitle }}" />
{% endif %}
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
{% if appleIconUrl %}
<link rel="apple-touch-icon" href="{{ appleIconUrl }}?v=1">
{% endif %}
{% if maskIconUrl %}
<link rel="mask-icon" href="{{ maskIconUrl }}?v=2" color="#000000">
{% endif %}
<!-- 
<link rel="preload" href="/apps/rzr/assets/logo-16x9-d16121a9.webp" as="image">
<link rel="preload" href="/apps/rzr/assets/logo-square-bae215db.webp" as="image"> -->

<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />

{# START OVERRIDE #}
<script type="module" crossorigin src="/app/assets/index-DITQ5hEX.js"></script>
    <link rel="modulepreload" crossorigin href="/app/assets/vendor_leaflet-BGtorNQ9.js">
    <link rel="modulepreload" crossorigin href="/app/assets/vendor_react-BF1Ucyx8.js">
    <link rel="modulepreload" crossorigin href="/app/assets/vendor_ionic-BiOFnPTY.js">
    <link rel="stylesheet" crossorigin href="/app/assets/vendor_leaflet-Bvr-Ab8i.css">
    <link rel="stylesheet" crossorigin href="/app/assets/vendor_react-Z09ODb1v.css">
    <link rel="stylesheet" crossorigin href="/app/assets/vendor_ionic-D7N1wSx9.css">
    <link rel="stylesheet" crossorigin href="/app/assets/index-CSiY2t8t.css">
    <script type="module">import.meta.url;import("_").catch(()=>1);(async function*(){})().next();window.__vite_is_modern_browser=true</script>
    <script type="module">!function(){if(window.__vite_is_modern_browser)return;console.warn("vite: loading legacy chunks, syntax error above and the same error below should be ignored");var e=document.getElementById("vite-legacy-polyfill"),n=document.createElement("script");n.src=e.src,n.onload=function(){System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))},document.body.appendChild(n)}();</script>
{# END OVERRIDE #}

{% if not locationSlug %}
    {% set locationSlug = locationComponent.locationData.slug ?? locationComponent.slug ?? null %}
{% endif %}
{% if locationSlug %}
    {% set manifestUrl = url('manifest.webmanifest?locationSlug=' ~ locationSlug ~ '&v=' ~ appVersion) %}
    <link rel="manifest" href="{{ manifestUrl }}">
{% endif %}
<script id="vite-plugin-pwa:register-sw" src="/app/registerSW.js?v={{ appVersion }}"></script>
